.wrapC10{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.colorBlC10{
    background:  rgb(59, 4, 121);
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;

}

.h1C10{
    color: white;
    padding-bottom: 1%;
}

.pC10{
    color: rgba(255, 255, 255, 0.673);
    display: block;
    padding-top: 2%;
    padding-bottom: 4%;

}

.wrapTextC10{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    flex-wrap: wrap;
}

.CardsPriceC10{
 width: 60%;
 background: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 18%;
 z-index: 3;
 position: absolute;
}


.Card1C10{
   width: 30%; 
   padding: 1%;
   border-radius:2px;
   background: rgb(255, 255, 255);
   border-radius: 6px;
   z-index: 1;
   -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.3);
box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.3);
   
}


.Card2C10{
    width: 34%; 
    padding: 1%;
    border-radius:2px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.42);
}

.Card3C10{
    width: 30%; 
    padding: 1%;
    border-radius:2px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.3);

}

 

.h5C10{
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 22px;
    font-weight: 10;
    color: rgb(59, 4, 121); 
}

.pCardC10{
    padding-top: 8%;
    padding-bottom: 10%;
    color: gray;
    font-weight: 1;

}

.h6C10{
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(59, 4, 121); 
}

.h1CardC10{
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(59, 4, 121); 
    font-size: 46px;
}

.pBotTextC10{
    padding-top: 8%;
    padding-bottom: 8%;
    color: gray;
    font-weight: 1;
    
}

.btnC10Card{
    height: 40px;
    width: 140px;
    margin-bottom: 6%;
    font-size: 10px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    border: 1px solid  rgb(59, 4, 121); 
    color:  rgb(59, 4, 121);
    border-radius: 4px;
}

.btnC10Card:hover{
    background:rgb(59, 4, 121); 
    color: white;
    transition: 0.8s;
}

.btnC10Card2{
    height: 40px;
    width: 140px;
    margin-bottom: 6%;
    font-size: 10px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    border: 1px solid  rgb(255, 36, 36); 
    color:  rgb(255, 36, 36); 
    border-radius: 4px;
}

.btnC10Card2:hover{
    background: rgb(255, 36, 36); 
    color: white;
    transition: 0.8s;
}

